*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    
}
.circle{
    background: black;
    width: 600px;
    height: 600px;
    filter: url(#wavy);
    align-items: center;
}
.svgHeart{
    width: 100vmin;
    height: 100vmin;
    margin: auto;

}
