:root{
    --dark: #48007c;
    --bright: cyan;
}

*{
    line-height: 1.5;
}

body{
    background: var(--dark);
    margin: 0;
    padding: 20px;
    color: var(--bright);
    max-width: 100vh;    
}
h1,
h2 {
    background: var(--bright);
    color: var(--dark);
    text-align: center;
    padding: 1%;
    border-radius: 20px;
    margin: 0;
    margin-bottom: 35px;
    font-weight: 1500;
}
a{
    color: var(--bright);
}
.cs{
    box-shadow: 0px 0px 4px 4px var(--bright);

}
.c{
    font-weight: bold;
}
.c1{
    background: #520235;
    text-align: center;
    color: var(--bright);
}
.c2{
    background: #d6299d;
    text-align: center;
    color: var(--dark);
}
.c3{
    background: #a1176d;
    text-align: center;
    color: var(--dark);
}
.c4{
    background: #ce2029;
    text-align: center;
    color: var(--dark);
}
.c5{
    background: #fc5e07;
    text-align: center;
    color: var(--dark);
}
.c6{
    background: #F17626;
    text-align: center;
    color: var(--dark);
}
.c7{
    background: #f9de6d;
    text-align: center;
    color: var(--dark);
}
.c8{
    background: #fcd410;
    text-align: center;
    color: var(--dark);
}
.c9{
    background: #c2dd33;
    text-align: center;
    color: var(--dark);
}
.c10{
    background: #97BE03;
    text-align: center;
    color: var(--dark);
}
.c11{
    background: #a4c6f6;
    text-align: center;
    color: var(--dark);
}
.c12{
    background: #022d78;
    text-align: center;
    color: var(--bright);
}

.hiddenLink{
    color: var(--dark);
}






h4{
    background:linear-gradient(0.25turn,black,#520235, #d6299d, #a1176d, #ce2029, #fc5e07, #F17626,#f9de6d,#fcd410,#c2dd33,#97BE03,#a4c6f6,#022d78,black);

    color: var(--dark);
    text-align: center;
    padding: 1%;
    border-radius: 20px;
    margin: 0;
    margin-bottom: 35px;
    font-weight: 1500;
}

@media(min-width:1200px) {
    .mainContainer {
        padding-left: 20px;
        padding-right: 20px;
        width: 50%;
        background: var(--dark);
        color: var(--bright);
        margin: 0px auto;
        padding: 1.5% 1%;
        box-shadow: 0px 0px 4px 4px var(--bright);
        min-height: 100vh;
    }

    .better {
        font-size: 16px;
        background: linear-gradient(black,#520235, #d6299d, #a1176d, #ce2029, #fc5e07, #F17626,#f9de6d,#fcd410,#c2dd33,#97BE03,#a4c6f6,#022d78,black);
        margin: 0;
        padding: 0px;
        color: var(--bright);
        max-width: none;
    }
    body{
        background: linear-gradient(black, #48007c,cyan,#48007c,black);
        margin: 0;
        padding: 0px;
        color: var(--bright);
        max-width: none;
    }

    .hiddenLink:hover{
        color: var(--bright);
    }
}


/*
h1
p
a (zurück und aufruf)
main container
*/