:root{
    --dark: #48007c;
    --bright: cyan;
}


* {
    line-height: 1.5;
}
a{
    color: var(--bright);
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    color: black;
}

table {
    width: 95%;
    text-align: center;
    background: var(--bright);
    margin: 5% auto;
}

div{
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--dark);
}

body {
    background: var(--dark);
    margin: 0;
    padding: 20px;
    color: var(--bright);
    max-width: 100vh;
}

h1,
h2 {
    background: var(--bright);
    color: var(--dark);
    text-align: center;
    padding: 1%;
    border-radius: 20px;
    margin: 0;
    margin-bottom: 35px;
    font-weight: 1500;
}

@media(min-width:1200px) {
    .mainContainer {
        padding-left: 20px;
        padding-right: 20px;
        width: 70%;
        background: var(--dark);
        color: var(--bright);
        margin: 0px auto;
        padding: 1.5% 1%;
        box-shadow: 0px 0px 4px 4px var(--bright);
        min-height: 100vh;
    }

    body {
        /* background: linear-gradient(black,green,yellow,red,purple,blue,black);*/
        background: linear-gradient(black, var(--dark),var(--bright),var(--dark),black);
        margin: 0;
        padding: 0px;
        color: var(--bright);
        max-width: none;
    }
    .tabellenbehaelter {
        display: flex;
        /*justify-content: space-around;*/
        align-items: flex-start;
    }

    table {
        width: 45%;
        margin: 0;
    }
}