* {
    line-height: 1.5;
}

body {
    background: black;
    margin: 0;
    padding: 20px;
    color: white;
    max-width: 100vh;
    font-size: 20px;
}

table,
th,
td {
    border: 2px solid;
    border-collapse: collapse;
}

h1,
h2 {
    background: cyan;
    color: black;
    text-align: center;
    padding: 1%;
    border-radius: 20px;
    margin: 0;
    margin-bottom: 35px;
    font-weight: 1500;
}
.reysTargets{
    width: 100%;
    text-align: center;
    border: black;
}
.trainerTeams{
    width: 100%;
    text-align: center;
    border: black;
}
.columnsHead{
    width: 100%;
}
.columns2{
    width: 50%;
}
.fightTable{
    width: 100%;
}

.columns3{
    width: 33%;
}







@media(min-width:1200px) {
    .mainContainer {
        padding-left: 20px;
        padding-right: 20px;
        width: 50%;
        background: black;
        color: white;
        margin: 0px auto;
        padding: 1.5% 1%;
        box-shadow: 2px 2px 5px black;
        min-height: 100vh;
    }

    body {
        background: cyan;
        margin: 0;
        padding: 0px;
        color: white;
        max-width: none;
    }

}
